<!DOCTYPE html>
<html lang="en" dir = "ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
  <title>Cards</title>
  <style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Verdana;
    }
    body{
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
    }
    .main{
        display: flex;
        justify-content: flex;
        align-items: center;
    }
    .notes{
      width: 300px;
      padding: 25px;
      margin: 50px;
      justify-self:auto;
      background-color: beige;
    }
    .notes:hover .text-group{
      top: 50px;
      opacity: 1;
      text-align: justify;
      font-family:"Verdana";
      font-size: 16px;
    }
    .text-group{
      position: absolute;
    }
    .text-group h3{
        margin-bottom: 10px;
    }
    .text-group h4{
        margin-bottom: 40px;
    }
    .notes:hover .card{
      margin-top: -15px;
    }
    .card{
      height: 200px;
      margin-top: -200px;
      position: relative;
      overflow: hidden;
      transition: .3s;
    } 
    .cover{
      width: 100%;
      height: 250px;
      position: relative;
      z-index: 20;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 10px 20px grey;
      border-radius: 10px;
      font-family: "Verdana";
      background: linear-gradient(135deg, #71b7e6, #9b59b6);
    }
    .navigation{
        margin: 0 auto;
      }
      nav{
        background-color: aqua;
        height: 75px;
        box-shadow: 0 5px rosybrown;
        width: 100%;
        position: relative;
        top: -40px;
      }
      .logo{
        color: rgb(247, 50, 16);
        font-size: medium;
        line-height: 75px;
        padding: 0 0 0 45px;
        font-weight: bold;
        letter-spacing: 5px;
      }
      nav ul{
        float: right;
        margin-right: 50px;
      }
      nav ul li{
        position: relative;
        list-style: georgian;
        display: inline-block;
      }
      nav ul li a{
        display: block;
        color: blue;
        line-height: 75px;
        font-size: 24px;
        font-family: Verdana;
        padding: 0px 30px;
        border-radius: 3px;
        text-decoration: solid;
      }
      a.active, a:hover{
        background: rosybrown;
        transition: .5s;
      }
      nav ul ul{
        position: absolute;
        top: 60px;
        display: none;
      }
      nav ul li:hover > ul{
        display: block;
      }
      nav ul ul li{
        width: 125px;
        height: 65px;
        text-align: center;
        float: none;
        display: list-item;
        background: rosybrown;
      }
      nav ul ul li a{
        font-size: medium;
        height: 65px;
      }

  </style>
        <title>Notes Card</title>
    </head>
    <body>
        <div class="navigation">
            <nav>
              <label class="logo">ADD NOTE</label>
              <ul>
                <li><a href="/admin/">Admin</a></li>
                <li><a>Lab-4</a>
                  <ul>
                    <li><a href="/lab-4">List</a></li>
                    <li><a href="/lab-4/add-note">Add</a></li>
                    <li><a href="/lab-4/note-list">Card</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
    {% if note %}
      {% for something in note%}
        <div class="main">
          <div class="notes">
            <div class="cover">
              <h1>TO: {{something.to}}</h1>
            </div>
            <div class="card">
              <div class="text-group">
                <h3>{{something.title}}</h3>
                <h4>{{something.message}}</h4><br>
                <p>Yours Sincerely, {{something.frm}}</p><br>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
    </body>
</html>