<!DOCTYPE html>
<html lang="en" dir = "ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Notes</title>
    <style type="text/css">
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Verdana;
      }
      body{
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
      }
      .main{
        max-width: 700px;
        width: 100%;
        background: #fff;
        padding: 25px 30px;
        border-radius: 5px;
      }
      .main .addNote{
        max-width: 700px;
        width: 100%;
        background: #fff;
        padding: 25px 30px;
        border-radius: 5px;
      }
      .detail{
        display: block;
        font-weight: 500;
        margin-bottom: 5px;
      }
      .input{
        height: 45px;
        width: 100%;
        outline: none;
        border-radius: 5px;
      }
      .title{
        height: 45px;
        width: 100%;
        outline: none;
        border-radius: 5px;
      }
      .message{
        height: 45px;
        width: 100%;
        outline: none;
        border-radius: 5px;
      }
      .submit{
        height: 45px;
        margin: 45px 0;
      }
      .submit input{
        height: 100%;
        width: 100%;
        outline: none;
        color: #fff;
        border: none;
        font-size: 18px;
        font-weight: 500;
        border-radius: 5px;
        letter-spacing: 1px;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
      }

      .submit input:hover{
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
      }
      .navigation{
        margin: 0 auto;
      }
      nav{
        background-color: aqua;
        height: 75px;
        box-shadow: 0 5px rosybrown;
        width: 100%;
        position: relative;
        top: -40px;
      }
      .logo{
        color: rgb(247, 50, 16);
        font-size: medium;
        line-height: 75px;
        padding: 0 0 0 45px;
        font-weight: bold;
        letter-spacing: 5px;
      }
      nav ul{
        float: right;
        margin-right: 50px;
      }
      nav ul li{
        position: relative;
        list-style: georgian;
        display: inline-block;
      }
      nav ul li a{
        display: block;
        color: blue;
        line-height: 75px;
        font-size: 24px;
        font-family: Verdana;
        padding: 0px 30px;
        border-radius: 3px;
        text-decoration: solid;
      }
      a.active, a:hover{
        background: rosybrown;
        transition: .5s;
      }
      nav ul ul{
        position: absolute;
        top: 60px;
        display: none;
      }
      nav ul li:hover > ul{
        display: block;
      }
      nav ul ul li{
        width: 125px;
        height: 65px;
        text-align: center;
        float: none;
        display: list-item;
        background: rosybrown;
      }
      nav ul ul li a{
        font-size: medium;
        height: 65px;
      }
      
    </style>
  </head>
  <body>
    <div class="navigation">
      <nav>
        <label class="logo">ADD NOTE</label>
        <ul>
          <li><a href="/admin/">Admin</a></li>
          <li><a>Lab-4</a>
            <ul>
              <li><a href="/lab-4">List</a></li>
              <li><a href="/lab-4/add-note">Add</a></li>
              <li><a href="/lab-4/note-list">Card</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="main">
      <div class="addNote"><h1> Fill Your Card </h1></div>
        <form action= "" method= "POST">
          {% csrf_token %}
          <div id="to">
            <h2 class="detail" for="to">TO</h2>
            <input class="input" type="text" id="to" name="to"><br>
          </div>
          <div id="frm">
            <h2 class="detail" for="frm">FROM</h2>
            <input class="input" type="text" id="frm" name="frm"><br>
          </div>
          <div id="title">
            <h2 class="detail" for="title">TITLE</h2>
            <input class="title" type="text" id="title" name="title"><br>
          </div>
          <div id="message">
            <h2 class="detail" for="message">MESSAGE</h2>
            <input class="message" type="text" id="message" name="message"><br>
          </div>
          <div class="submit">
            <input type ="submit" value="Submit">
          </div>
        </form>
    </div>
  </body>
</html>
