<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>List Notes</title>
    <style>
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Verdana;
      }
      body{
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
      }
      table{
        position: absolute;
        z-index: 3;
        left: 50%;
        right: 50%;
        transform: translate(-50%,-50%);
        width: 65%;
        height: 250px;
        border-collapse: collapse;
        border-spacing: 0;
        border-radius: 12px 12px 12px 12px;
        overflow: hidden;
        text-align: center;
        box-shadow: 0 10px 12px aqua;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
      }
      th,td {
        padding: 15px 15px;
        font-family: Verdana;
        color: aquamarine;
      }
      th {
        background: #71b7e6;
        text-transform: uppercase;
      }
      .navigation{
        margin: 0 auto;
      }
      nav{
        background-color: aqua;
        height: 75px;
        box-shadow: 0 5px rosybrown;
        width: 100%;
        position: relative;
        top: -40px;
      }
      .logo{
        color: rgb(247, 50, 16);
        font-size: medium;
        line-height: 75px;
        padding: 0 0 0 45px;
        font-weight: bold;
        letter-spacing: 5px;
      }
      nav ul{
        float: right;
        margin-right: 50px;
      }
      nav ul li{
        position: relative;
        list-style: georgian;
        display: inline-block;
      }
      nav ul li a{
        display: block;
        color: blue;
        line-height: 75px;
        font-size: 24px;
        font-family: Verdana;
        padding: 0px 30px;
        border-radius: 3px;
        text-decoration: solid;
      }
      a.active, a:hover{
        background: rosybrown;
        transition: .5s;
      }
      nav ul ul{
        position: absolute;
        top: 60px;
        display: none;
      }
      nav ul li:hover > ul{
        display: block;
      }
      nav ul ul li{
        width: 125px;
        height: 65px;
        text-align: center;
        float: none;
        display: list-item;
        background: rosybrown;
      }
      nav ul ul li a{
        font-size: medium;
        height: 65px;
      }
    </style>
  </head>
  <body>
    <div class="navigation">
      <nav>
        <label class="logo">ADD NOTE</label>
        <ul>
          <li><a href="/admin/">Admin</a></li>
          <li><a>Lab-4</a>
            <ul>
              <li><a href="/lab-4">List</a></li>
              <li><a href="/lab-4/add-note">Add</a></li>
              <li><a href="/lab-4/note-list">Card</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% for something in note %}
      <tr>
        <td>{{something.to}}</td>
        <td>{{something.frm}}</td>
        <td>{{something.title}}</td>
        <td>{{something.message}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
