<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
  </head>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% for something in note %}
      <tr>
        <td>{{something.to}}</td>
        <td>{{something.frm}}</td>
        <td>{{something.title}}</td>
        <td>{{something.message}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
